.background{
width: 90%;
margin: 0 0 5% 5%;
display: flex;
flex-wrap: wrap;
}
.title{
background-color: none;
position: absolute;
height: 20%;
width: 40%;
top: 60%;
left: 90px;

}

.sub1{
background-color: none;
position: absolute;
height: 2%;
width: 1%;
left: 40px;
top: 64px;


}

.sub2{
background-color: none;
position: absolute;
height: 2%;
width: 1%;
right: 40px;
top: 460px;


}

.logo{
background-color: none;
position: absolute;
height: 3%;
width: 3%;
right: 33px;


}

.lego{
background-image: url(../img/legob.png);
background-size: cover;
height: 50px;
width: 50px;

}
.lego_1{
background-image: url(../img/lego_red.png);
background-size: cover;
height: 50px;
width: 50px;
display: none;

}
.lego_2{
background-image: url(../img/lego_blue.png);
background-size: cover;
height: 50px;
width: 50px;
display: none;

}
.lego1{
background-image: url(../img/lego_red.png);
background-size: cover;
height: 50px;
width: 50px;
display: none;
opacity: 100%;
}

.lego2{
background-image: url(../img/lego_blue.png);
background-size: cover;
height: 50px;
width: 50px;
display: none;
opacity: 100%;

}
